.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content:space-between;
}

.btn{
    padding: 0.8rem 2rem;
    font-size:1rem;
    font-weight:bold;
    border-radius:  40px;
    outline: none;
    cursor: pointer;
    background-color: #3DCFD3;
    color: #161616;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn:hover{
    background: transparent;
    border-color: #3DCFD3;
    color: #3DCFD3;
}

.btn-second{
    background: transparent;
    color: #3DCFD3;
    border-color: #3DCFD3;
}

.btn-second:hover{
    background: #3DCFD3;
    color:#161616;
}